body {
    background-image: url("repeat.jpg");
}

.astro {
    height: 60px;
    width: auto;
}

.about {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
}

.bio {
    font-size: 20px;
}

.bioHolder {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.contact {
    display: none;
    padding: 10px;
    margin-top: 20px;
}

.contactLinks {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.links {
    font-size: 30px;
}